@font-face {
    font-family: 'rainy';
    src: url('../fonts/Marcellus_SC/MarcellusSC-Regular.ttf') format('truetype');
}

*{
    font-family: 'rainy', Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../images/background1-heaven.jpg);
    // Posicionando imagem
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

main {
    background-color: rgba(0, 0, 0, 0.377);
    margin-top: 8%;
    width: 100%;
    padding: 20px;
}

h1 {
    font-size: 4em;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.play {
    background-image: url(../images/button-pause.png);
    background-size: 130px 130px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 130px;
    width: 130px;
    cursor: pointer;
}

.pause {
    background-image: url(../images/button-start.png);
    background-size: 130px 130px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 130px;
    width: 130px;
    cursor: pointer;
}